.footer {
    padding-top: 87px;
    padding-bottom: 70px;
    color: $title-text-color;
    background-color: $dark-color;
}

.footer-logo {
    margin-bottom: 90px;
}

.footer-thumb {
    display: flex;
    margin-bottom: 127px;
    font-size: 1.29rem;
    line-height: 1.72;
}

.footer-title {
    margin-bottom: 36px;
}

.conditions-thumb {
    margin-right: 39px;
}

.orders-thumb {
    margin-right: 83px;
}

.firm-thumb {
    margin-right: 275px;
}

.media-items {
    height: 25px;
    margin-bottom: 16px;
}

.mobile-item {
    height: 22px;
    margin-bottom: 13px;
}

.mobile-icon {
    margin-right: 16px;
    margin-bottom: -5px;
}

.email-item {
    height: 22px;
}

.email-icon {
    margin-right: 16px;
    margin-bottom: -5px;
}

.footer-link {
    color: $title-text-color;
}

.rights-thumb {
    display: flex;
    font-size: 1.29rem;
    line-height: 1.5;
}

.rights-text {
    margin-right: 688px;
}

.miranda-icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
}