.newsletter {
    display: flex;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    background: #ECB235;
}

.newsletter-title {
    font-weight: 500;
    margin-bottom: 64px;
}

.newsletter-input {
    padding: 46px 275px 49px 58px;

    font-weight: 500;
    font-size: 1.29rem;
    line-height: 1.22;
    text-align: center;
    color: #939393;
    border: none;
}

.newsletter-btn {
    height: 118px;
    padding: 51px 42px 50px 50px;
    margin-left: 27px;

    color: $title-text-color;
    background-color: $dark-color;
    border: none;
}