    $primary-text-color: #000000;
    $title-text-color: #FFFFFF;
    $white-bg-color: #FFFFFF;
    $dark-color: #131313;
    $grey-bg-color: #E9E9E9;
    $accent-color: #ECB235;
    $grey-color: #C9C9C9;
    $icon-color: #8E8E8E;